@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --color-nutmeg: hsl(14, 45%, 36%);
    --color-dark-raspberry: hsl(332, 51%, 32%);
    --color-white: hsl(0, 0%, 100%);
    --color-rose-white: hsl(330, 100%, 98%);
    --color-egg-shell: hsl(30, 54%, 90%);
    --color-light-grey: hsl(30, 18%, 87%);
    --color-wenge-brown: hsl(30, 10%, 34%);
    --color-dark-charcoal: hsl(24, 5%, 18%);
}

body {
    background-color: var(--color-egg-shell);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--color-wenge-brown);
    height: 1900px;
}

.card-container {
    background-color: var(--color-white);
    width: 740px;
    height: 85%;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.recipe-name {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe-name img {
    width: 100%;
    border-radius: 20px;
}

.recipe-name h1 {
    color: var(--color-dark-charcoal);
    font-weight: 500;
    font-size: 38px;
    margin: 20px 0;
}

.preparation-time {
    width: 100%;
    height: 175px;
    background-color: var(--color-rose-white);
    padding: 20px;
    margin-top: 20px;
}

.preparation-time > h2 {
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--color-dark-raspberry);
    margin-bottom: 20px;
}

.ingredients {
    width: 100%;
    padding: 30px 0;
}

.ingredients h2 {
    margin-bottom: 15px;
}

.instructions {
    width: 100%;
    padding: 30px 0;
}

.instructions h2 {
    margin-bottom: 15px;
}

.nutrition {
    width: 100%;
    padding-top: 30px;
}

.nutrition h2 {
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table tr th,
table tr td {
    text-align: left;
    width: 200px;
    padding: 10px;
}

table tr {
    border-bottom: 1px solid var(--color-light-grey);
}

table tr:last-child {
    border-bottom: none;
}

table tr th {
    font-weight: 400;
    padding-left: 50px;
}

table tr td {
    color: var(--color-nutmeg);
    font-weight: 700;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 768px) {
    body {
        width: auto;
        height: auto;
    }

    .card-container {
        width: 90%;
        padding: 20px;
    }

    .recipe-name h1 {
        font-size: 30px;
    }

    .preparation-time {
        height: 200px;
    }

    .preparation-time > h2 {
        font-size: 18px;
    }

    .ingredients,
    .instructions {
        padding: 20px 0;
    }

    .ingredients h2,
    .instructions h2,
    .nutrition h2 {
        font-size: 18px;
    }

    table tr th,
    table tr td {
        padding: 5px;
    }

    .attribution {
        font-size: 10px;
    }
    
}